/* Reset default parameters */

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	color: #000;
	text-decoration: none;
}
ul{
	list-style: none;
}
body{
	font: 400 14px 'Myriad Pro',Tahoma,Arial,sans-serif;
}

.wrapper{
    background: #fff;
    position: relative;
	overflow:hidden;
}
.container{
    margin: 0 auto;
	text-align:center;
}
.main-banner{
    background: url(../images/web-development.png);
    display: block;
    height: 100%;
    min-height: 100vh;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

.header{
    position: absolute;
    top:0;
    left: 0%;
    width: 100%;
    padding: 40px 0;
}
.nav-drop {
    display: none;
    position: absolute;
    width: calc(100% * 2);
    border-bottom: 2px solid #fff;
    padding: 20px 0 30px;
    text-align: right;
    top: 100%;
    right: 0;
}
.nav-drop li{
    display: inline-block;
    vertical-align: top;
}
.nav-drop a{
    display: block;
    padding: 3px 15px;
    color: #fff;
	font-weight:700;
	font-family:'Raleway';
}
.nav-drop a:hover{
	color:#fff;
	text-decoration:none;
}
.navigation{
    text-align: right;
}
.burger {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 8px;
    font-weight: 100;
    font-size: 18px;
    border: 2px solid #fff;
	color:#fff;
}
.burger:hover{
	color:#444;
}
.logo{
	text-align:left;
}
.logo img{
	width:75px;
	height:auto;
}


.main-banner{
	padding:200px 30px;
}
.name{
	text-align:center;
}
.name h1{
	font:400 65px 'Ralewayale',Tahoma,Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
	border-bottom:2px solid #fff;
	border-top:2px solid #fff;
}
.achive{
	font:400 25px 'Ralewayale',Tahoma,Arial,sans-serif;
	color:#fff;
}
.my-img{
	text-align:center;
	padding-top:60px;
	margin-left:10%;
}
.my-img img{
	height:435px;
}
.about-me{
	padding-top:80px;
	padding-bottom:100px;
}
.about-me h3{
	font:700 18px 'Ralewayale',Tahoma,Arial,sans-serif;
	padding-bottom:25px;
}
.about-me p{
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;
	line-height:1.5;
	margin-bottom:70px;
}

.skills{
	padding:120px 0;
	background:#f6f6f6;
}
.title{
	text-align:center;
	font:600 40px 'Ralewayale',Tahoma,Arial,sans-serif;
	margin-bottom:60px;
}
.process-box{
	padding:85px 0;
	background:#835aeb;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	margin-top:10px;
}
.process-box .fa{
	font-size:40px;
	color:#fff;
	margin-bottom:45px;
}
.process-box span{
	font:600 16px 'Ralewayale',Tahoma,Arial,sans-serif;
	text-transform:uppercase;
	color:#fff;
}
.expirience{
	background:url(../images/laptop.png);
	background-repeat:no-repeat;
	background-attachment: fixed;
	padding:60px 0;
	background-size:cover;
}
.work-exp,.education{
	color:#fff;
	background: rgba(255,255,255,0.4);
	padding:40px;
	margin:10px 0;
}
.work-exp h3,.education h3{
	font:700 26px 'Ralewayale',Tahoma,Arial,sans-serif;
	margin-bottom:40px;
}
.work-exp h4,.education h4{
	font:700 18px 'Ralewayale',Tahoma,Arial,sans-serif;
	margin-bottom:20px;
}
.work-exp span,.education span{
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;
	color:#e6e6e6;
	margin-bottom:20px;
	display:block;
}
.work-exp p,.education p{
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;
	color:#e6e6e6;
	margin-bottom:20px;
}
.kpi,.mad-max{
	padding-bottom:20px;
	border-bottom:2px solid #e6e6e6;
}
.lemon,.crazy{
	padding-top:20px;
}
.work-box img{
	height:270px;
	margin-top:15px;
}
.works{
	padding: 120px 0;
	background: #f6f6f6;
}

.reviews{
	background:-webkit-gradient(linear	, left bottom, right top	, from(#64cbc0), to(#2c6879));
	background:-webkit-linear-gradient(bottom left	, #64cbc0, #2c6879);
	background:-o-linear-gradient(bottom left	, #64cbc0, #2c6879);
	background:linear-gradient(to top right	, #64cbc0, #2c6879);
}
.rev-box{
	text-align:left;
	color:#1c6477;
	padding:60px 0;
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;	
	line-height:1.5;
}
.rev-box img{
	margin:50px 0;
}
.rev-box span{
	display:block;
}

.contacts{
	background:url(../images/bigstock.png);
	background-repeat:no-repeat;
	background-attachment: fixed;
	padding:60px 0;
	background-size:cover;
}
.message{
	color:#444;
	background: rgba(255,255,255,0.6);
	padding:40px;
	border-radius:5px;
}
.message input{
	display:block;
	background:none;
	border:1px solid #444;
	padding:15px;
	width:100%;
	margin-bottom:25px;
	outline:none;
	border-radius:5px;
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;	
}
.message textarea{
	display:block;
	background:none;
	border:1px solid #444;
	padding:15px;
	width:100%;
	margin-bottom:25px;
	resize: none;
	overflow: auto;
	outline:none;
	border-radius:5px;
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;	
}
.title3{
	font:700 26px 'Ralewayale',Tahoma,Arial,sans-serif;
	margin-bottom:36px;
	text-transform:uppercase;
	text-align:left;
}
.address-box,.phone-box,.web-box{
	color:#444;
	background: rgba(255,255,255,0.6);
	padding:40px;
	border-radius:5px;
	text-align:left;
	margin-bottom:20px;
}
.address span{
	font:400 16px 'Ralewayale',Tahoma,Arial,sans-serif;
	display:block;
	line-height:1.5;
}
footer{
	padding:60px;
	background:#444;
	text-align:center;
	color:#ccc;
	font:400 12px 'Ralewayale',Tahoma,Arial,sans-serif;
}

